
.form-signin {
    max-width: 330px;
    margin: auto;
    padding: 15px;
    text-align: center;
}

.form-signin input[type="text"],
.form-signin input[type="email"],
.form-signin input[type="password"] {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #ced4da;
    box-shadow: none;
    font-size: 16px;
    height: auto;
    line-height: 1.5;
    padding: 10px;
    width: 100%;
    margin-bottom: 30px;
}

.form-signin button[type="submit"] {
    background-color: #007bff;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
}

.form-signin button[type="submit"]:hover {
    background-color: #0069d9;
}

.form-signin a {
    color: #007bff;
    text-decoration: none;
}


/* keep the footer down */
html,
body {
    height: 100%;
    margin: 0;
}
/* keep the footer down */
#wrapper {
    min-height: 100%;
    position: relative;
}
/* keep the footer down */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}